name: Python build with MPI

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master , development ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build-ubuntu-conda-gcc"
  build-ubuntu-conda-gcc:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          python-version: 3.7
      - name: Conda info, list, pybind install and activate
        shell: bash -l {0}
        run: |
          conda info
          conda list
          conda install -y pybind11
          conda activate /usr/share/miniconda/envs/test
      - name: Install MPICH
        run: sudo apt-get install mpich

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: configure
        shell: bash -l {0}
        run: mkdir build && cd build && CXX=mpicc++ cmake PYTHON_EXECUTABLE=/usr/share/miniconda/envs/test/bin/python -DIqsMPI=ON -DIqsPython=ON -DIqsUtest=OFF ..
      - name: build
        run: cmake --build build --target intelqs_py

      - name: unit test
        run: cd unit_test && /usr/share/miniconda/envs/test/bin/python import_iqs.py

